<div 
  class="card"
  [ngStyle]="cardColors" 
  [class.card-new]="data.marcado === 'imp'" 
  [class.card-hover]="isHovered || isMenuOpen"
  [class.card-default]="!isFavoriteCard"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <button 
    class="card-button-menu" 
    *ngIf="state === 0 && isFavoriteCard && data.marcado !== 'default' && data.marcado !== 'imp'"
    [style.display]="isHovered || isMenuOpen ? 'block' : 'none'"
    (menuOpened)="isMenuOpen = true" 
    (menuClosed)="isMenuOpen = false"
  >
    <img width="24" src="assets/icons/dots.svg" alt="">
  </button>

  <div class="card-content" (click)="flipCard()">
    <ng-container *ngIf="state === 0">
      <div class="card-ribbon" *ngIf="data.marcado === 'imp'">
        <img width="20" src="assets/icons/star.svg" alt="">
      </div>

      <app-avatar 
        [icon]="data.Icon"
        [bgBase]="data.ColorBase"
        [bgAccent]="data.ColorGradiente"
        [pinned]="data.pinned"
      ></app-avatar>

      <h3 class="card-title">{{ data.NameAplication }}</h3>
    </ng-container>

    <div 
        *ngIf="state === 1"
    >
      <h3 class="card-title">{{ data.NameAplication }}</h3>
      <p class="card-description">{{ data.desAp }}</p>
      <div class="card-vpn-desc">
        <img *ngIf="data.idvpn === 1 || data.idvpn === 3" width="20" src="assets/icons/shield-lock.svg" alt="">
        <img *ngIf="data.idvpn === 2 || data.idvpn === 3" width="20" src="assets/icons/shield-x.svg" alt="">
        <span class="card-vpn">{{ data.desVpn }}</span>
      </div>
    </div>
  </div>

  <div class="card-actions" *ngIf="state === 0">
    <button 
      class="card-button" 
      *ngIf="!isFavoriteCard"
      (click)="setCheck()"
      [disabled]="data.marcado === 'imp'"
      [class.checked-button]="data.isFavorite"
    >
      <img width="18" height="18" src="assets/icons/check.svg" alt="">
    </button>
    
    <a 
      class="card-button" 
      [href]="data.link || default.link" 
      target="_blank" 
      rel="noopener noreferrer"
      (click)="clicked.emit($event)"
    >
      <img width="18" height="18" src="assets/icons/arrow-right.svg" alt="">
    </a>
  </div>
</div>